nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(54, 34, 34);
    padding: 20px 80px;
    box-shadow: 0 5px 15px black;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
   text-decoration: none;
   font-size: 1.3rem;
   font-weight: 400;
   color: rgb(255, 237, 237);
   transition: 0.3s ease-in-out;
}

#navbar li a:hover{
    color: rgb(243, 176, 176);
}

#navbar li a:hover::after{
   content: "";
   height: 2px;
   background: rgb(139, 60, 60);
   position: absolute;
   bottom: -4px;
   left: 20px;
}